---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Box from "~/components/ui/Box.astro";
import ContactForm from "~/components/ContactForm.astro";
---

<BaseLayout>
  <main class="min-h-screen flex items-center justify-center">
    <Box class="bg-theme-mist w-125 rounded-2.5 p-10">
      <ContactForm />
    </Box>
  </main>
</BaseLayout>
