---
import Box from "~/components/ui/Box.astro";
import Label from "~/components/ui/Label.astro";
import Text from "~/components/ui/Text.astro";
import Textarea from "~/components/ui/Textarea.astro";
import Input from "~/components/ui/Input.astro";
---

<form action="" class="flex flex-col gap-5">
  <Box class="grid grid-cols-2">
    <Box class="relative">
      <Input variant="roundedLeft" name="first_name" id="first_name" />
      <Label variant="secondary" for="first_name"> First name * </Label>
    </Box>
    <Box class="relative">
      <Input variant="roundedRight" name="last_name" id="last_name" />
      <Label variant="secondary" for="last_name"> Last name * </Label>
    </Box>
  </Box>
  <Box class="relative">
    <Input name="email" id="email" />
    <Label variant="secondary" for="email"> Work Email * </Label>
  </Box>
  <Box>
    <Label class="mb-2.5" for="message"> Message * </Label>
    <Textarea placeholder="Enter your message" name="message" id="message" />
  </Box>
  <Text>
    For information about our privacy practices and commitment to protecting your privacy,
    please review our
    <a
      class="text-theme-primary underline"
      href="https://www.storyblok.com/legal/privacy-policy">Privacy Policy</a
    >.
  </Text>
  <Box>
    <button
      class="flex shadow-btn bg-theme-primary rounded-lg text-white py-2 px-5 leading-6 font-medium text-base tracking-normal"
    >
      Send Message
    </button>
  </Box>
</form>

<script>
  /**
   * Clears all .sp-input fields and adds/removes the 'has-value' class on blur depending on whether they have text.
   **/

  document.querySelectorAll<HTMLInputElement>("input.sp-input").forEach((el) => {
    el.value = "";
    el.addEventListener("blur", () => {
      el.classList.toggle("has-value", el.value.trim() !== "");
    });
  });
</script>
